<header>
    <div class="header-left">
        <a href="@Url.Action("Index", "Home")">
            <h2>ReservationSystem</h2>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="@Url.Action("Login", "Admin")" class="button">Přihlásit se</a></li>
            <li><a href="#pricing-section">Ceník</a></li>
            <li><a href="#contact-section">Kontakt</a></li>
            <li><a href="#pricing-section" class="button">Rezervovat</a></li>
        </ul>
    </nav>
</header>                   
