@model ReserveSystem.ViewModels.IndexPageViewModel

 
    <div class="contact-info">
        <h4>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non pulvinar neque laoreet suspendisse interdum consectetur libero id. Libero enim sed faucibus turpis in. Nunc vel risus commodo viverra maecenas accumsan lacus. Tempor orci dapibus ultrices in. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh. Lectus quam id leo in. Nulla aliquet enim tortor at auctor urna nunc id cursus. Amet purus gravida quis blandit turpis cursus in.
        </h4>
    </div>
    <div class="contacts">
        <div class="phone">
            <div>
                <img src="@Url.Content("~/phone.svg")" alt="phone">
            </div>
            <div class="phone-text">
                <p>Jméno Příjmení: +420 597 865 264</p>
                <p>Jméno Příjmení: +420 597 865 264</p>
            </div>
        </div>
        <div class="email">
            <div>
                <img src="@Url.Content("~/email.svg")" alt="email">
            </div>
            <div class="email-text">
                <p>Jméno: afasfda@gmail.com</p>
                <p>Jméno: afasfda@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="address">
        <h3>Kde nás najdete</h3>
        <address>Na Pankráci 1685/17, 140 00 Praha 4 - Nusle, Česko</address>
        <div id="map"></div>
    </div>
