@model ReserveSystem.ViewModels.IndexPageViewModel

<main>
    @Html.Partial("Intro.cshtml")
    <div class="divider"></div>
    @Html.Partial("Pricing.cshtml", Model.PricingList)
    @Html.Partial("Form.cshtml", Model.Reservation)
    <div class="divider"></div>
    @Html.Partial("Contacts.cshtml")
</main>