@model ReserveSystem.ViewModels.IndexPageViewModel

<div class="intro-text">
    <h2>O nás</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non pulvinar neque laoreet suspendisse interdum consectetur libero id. Libero enim sed faucibus turpis in. Nunc vel risus commodo viverra maecenas accumsan lacus. Tempor orci dapibus ultrices in. Aliquam nulla facilisi cras fermentum odio eu feugiat pretium nibh. Lectus quam id leo in. Nulla aliquet enim tortor at auctor urna nunc id cursus. Amet purus gravida quis blandit turpis cursus in.</p>
</div>
<div class="reservation-box">
    <h2>Rezervace</h2>
    <button onclick="location.href = '#pricing-section'">Rezervovat</button>
</div>